//////////
///FONTS//
//////////

$font-Flaticon-bars: "\f100";
$font-Flaticon-cancel: "\f101";
$font-Flaticon-circle: "\f102";
$font-Flaticon-drop-down-arrow: "\f103";
$font-Flaticon-heart: "\f104";
$font-Flaticon-musica-searcher: "\f105";
$font-Flaticon-star: "\f106";

$lato: 'Lato', Arial, sans-serif;

//////////
//COLORS//
//////////

$cyan: #d9e1e6; 
$darkcyan: #68899a; 
$lightgray: #e1e1e1;
$gray: #919a9e;
$darkgray: #6c6c6c;
$hover: #FF0000;

